.table-task {
	width: 500px;
	height: 200px;
	font-size: 24px;
}

.content-wrapper {
	margin-left: 100px;
}

.add-btn {
	background:none;
	border:none;
	font-size: 40px;
	color: blue;
}

.main-title {
	font-size: 40px;
}

.pagination {
	align:center;
	font-size: 30px;
}

.sub-buttom {
	margin-top: 50px;
}

.modal-content {
	width: 250px;
}

.page-title {
	font-size : 30px;
	margin-bottom: 20px;
}

.title-box {
	margin-top: 50px;
	margin-bottom: 50px;
	
}
.add-btn {
	float:right;
	margin-left: 150px;
}