<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	th:href=@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}>
<link href="https://fonts.googleapis.com/css?family=Roboto"
	th:href=@{https://fonts.googleapis.com/css?family=Roboto}
	rel="stylesheet">


<link rel="stylesheet" href=".../.../resources/css/taskmanager.css"
	th:href=@{/resources/css/taskmanager.css} />


<!-- Font Awesome CSS -->
<link rel="stylesheet"
	th:href=@{https://use.fontawesome.com/releases/v5.1.0/css/all.css}
	href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">


<title>Task manager</title>
</head>
<body>
	<div class="content-wrapper">
		<div class="row title-box">
			<h2 th:text="#{taskManagerTitle}" class="main-title"></h2>
			<button type="button" class="btn add-btn" data-toggle="modal"
				data-target="#addTaskModal">
				<i class="fas fa-plus"></i>
			</button>
		</div>
		<div class="row">
			<div class="col-sm-6">

				<h2 th:text="#{undoneTaskTitle}" class="page-title">To do</h2>

				<div class="table-task">
					<table>
						<tr th:each="undoneTask : ${undoneTaskList}">
							<td><a
								th:href="@{completeTask(taskId=${undoneTask.taskId})}"><i
									class="far fa-square"></i></a></td>
							<td th:text="${undoneTask.taskName}"></td>
							<td><a th:href="@{deleteTask(taskId=${undoneTask.taskId})}"><i
									class="fas fa-times"></i></a></td>
						</tr>
					</table>
				</div>
				<div class="pagination">
					<a th:if="${pageUndone!=1}"
						th:href="@{index(pageDone=${pageDone}, pageUndone=${pageUndone-1}) }"><i
						class="fas fa-chevron-left"></i></a> <span th:text="${pageUndone}"></span>
					<a th:if="${moreElementsUndone}"
						th:href="@{index(pageDone=${pageDone}, pageUndone=${pageUndone+1}) }"><i
						class="fas fa-chevron-right"></i></a>
				</div>
			</div>
			<div class="col-sm-6">
				<h2 th:text="#{doneTaskTitle}" class="page-title">Done tasks</h2>

				<div class="table-task">
					<table>
						<tr th:each="doneTask : ${doneTaskList}">
							<td th:text="${doneTask.taskName}"></td>
						</tr>
					</table>
				</div>
				<div class="pagination">
					<a th:if="${pageDone!=1}"
						th:href="@{index(pageDone=${pageDone-1}, pageUndone=${pageUndone}) }"><i
						class="fas fa-chevron-left"></i></a> <span th:text="${pageDone}"></span>
					<a th:if="${moreElementsDone}"
						th:href="@{index(pageDone=${pageDone+1}, pageUndone=${pageUndone}) }"><i
						class="fas fa-chevron-right"></i></a>
				</div>
			</div>

		</div>
		<!-- Modal -->
		<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form name='addTask' th:action="@{/addTask}" method='POST'>

							<div>
								<div class="field">
									<input type="text" name="taskName"
										th:placeholder="#{task.name}" />
								</div>
							</div>
							<div>
								<input class="sub-buttom" type="submit" th:value="#{addTask}">
							</div>

							<input type="hidden" name="${_csrf.parameterName}"
								value="${_csrf.token}" />
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>